div.contacts_button {
    background: url("../images/contact_us.png") no-repeat scroll 0px 0 transparent;
    height: 135px;
    position: fixed;
    right: 0;
    width: 42px;
	z-index:1000;
	display:none;

}
div.contacts_button:hover{ background: url("../images/contact_us.png") no-repeat scroll 0 0 transparent; cursor:pointer; }
#mp_ajaxcontacts_window { z-index: 1001 !important; width:700px !important; top:25px !important;}
#mp_ajaxcontacts_window .buttons-set { margin-top: 20px; }
#mp_ajaxcontacts_window input.ok_button, #mp_ajaxcontacts_window input.cancel_button{

    background: none repeat scroll 0 0 #F18200;
    border: 1px solid #DE5400;
    color: #fff;
    font-weight: bold;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0;
    padding: 3px;
	display:none;
}

.overlay_alphacube#overlay_modal { background-color: #333; }
.ajaxcontacts_form { padding: 0 20px; text-align: left; }
.alphacube_message .page-title {
    text-align: left;
}
#overlay_modal { z-index: 10 !important; }
.uploader_artwork{right:0;width:42px;position:fixed;top:326px;background-repeat:no-repeat;z-index:10; 	display:none;}
.uploader_artwork .upload_icon{float:left;width:60px;display:block;background-repeat:no-repeat; height:133px;-webkit-transition:all ease .2s;-moz-transition:all ease .2s;-o-transition:all ease .2s;-ms-transition:all ease .2s;transition:all ease .2s;background-position:0 0}
.uploader_artwork .upload_icon{background-image:url("../images/sprite.png")}
.uploader_artwork .upload_icon:hover{/*filter:alpha(opacity=75);moz-opacity:.75;-khtml-opacity:.75;opacity:.75; */}
.uploader_artwork .artwork_upload{background-position:0 0;}
.uploader_artwork .get_quote{background-position:0 -136px; height:129px; display:none; }
.uploader_artwork .design-templates{background-position:0 -266px; margin-bottom:10px; height:180px;}
#mp_ajaxcontacts_window_table_content{ height:700px !important; width:700px !important;}
#mp_ajaxcontacts_window_content{overflow:hidden; height:870px !important;}
#mp_ajaxcontacts_window_row2 .dialog .mid td {
    /*background: none repeat scroll 0 0 #FFFFFF;*/
    overflow: hidden;
    text-align: center;
    vertical-align: top;
}
.buttons-set{margin-left:20px; float:left; padding:0px;}
.cms-contact-us .std p{   color: #808280;
    font-family: Arial;
    font-size: 14px;
    line-height: 25px;
    font-weight: 200;
}