<?xml version="1.0"?>
<config>
		<modules>
				<Artis_Checkout>
						<version>0.1.0</version>
				</Artis_Checkout>
		</modules>
		<frontend>
				<routers>
						<checkout>
								<args>
										<modules>
												
				<Artis_Checkout before="Mage_Checkout">Artis_Checkout</Artis_Checkout>
										</modules>
								</args>
						</checkout>
				</routers>
		</frontend>
		<admin>
				<routers>
						<!--  
				<checkout>
				<use>admin</use>
				<args>
					<module>Artis_Checkout</module>
					<frontName>checkout</frontName>
				</args>
			</checkout>
			-->
						<!--<checkout>
								<args>
										<modules>
												<Artis_Checkout before="Mage_Checkout">Artis_Checkout</Artis_Checkout>
										</modules>
								</args>
						</checkout>-->
				</routers>
		</admin>
		<global>
				<blocks>
						<checkout>
								<class>Artis_Checkout_Block</class>
						</checkout>
						<!--<checkout>
                  <rewrite>
                    Artis_Partialpayment_Block_Cart
                    <class>Artis_Partialpayment_Block_Onepage</class>
                   <onepage>Artis_Checkout_Block_Onepage_Abstract</onepage>
                   <onepage>Artis_Checkout_Block_Onepage_Billing</onepage>
                     <onepage>Artis_Checkout_Block_Onepage_Shipping</onepage>
                     <onepage>Artis_Checkout_Block_Onepage_Progress</onepage>
                     <onepage>Artis_Checkout_Block_Onepage_Login</onepage>
                     <onepage>Artis_Checkout_Block_Onepage_Payment</onepage>
                     <onepage>Artis_Checkout_Block_Onepage_Review</onepage>
                     <onepage_shipping_method>Artis_Checkout_Block_Onepage_Shipping_Method_Additional</onepage_shipping_method>
                     <onepage_shipping_method>Artis_Checkout_Block_Onepage_Shipping_Method_Available</onepage_shipping_method>
                    <onepage_shipping>Artis_Checkout_Block_Onepage_Shipping_Method</onepage_shipping>
                  </rewrite>
            </checkout>-->
				</blocks>
				<!--<models>
            <checkout>
                <class>Artis_Checkout_Model</class>
            </checkout>
        </models>-->
		</global>
		<adminhtml>
				<layout>
						<updates>
								<checkout>
										<file>checkout.xml</file>
								</checkout>
						</updates>
				</layout>
				<events>
						<catalog_product_save_after>
								<observers>
										<fishpig_save_product_data>
												<type>singleton</type>
												<class>checkout/observer</class>
												<method>saveProductTabData</method>
										</fishpig_save_product_data>
								</observers>
						</catalog_product_save_after>
				</events>
		</adminhtml>
</config>
