.quote_details .data-table, .quote_details .data-table th, .quote_details .data-table td {border: none;}
.quote_details #my-quotations-table{margin-bottom:0;}
.quote_details #my-quotations-table tr{background:none}
.quote_details #my-quotations-table td {border-bottom: 1px solid #D9DDE3; padding:15px 12px;}
.quote_details #quote-totals-table table, .quote_details #my-quotations-table{border-style: none solid solid solid;border-color: black;border-width: 1px;font-size: 12px;}
.quote_details #quote-items-table .product-name, .quote_details #my-quotations-table .product-name a {font-size: 13px;font-weight: bold;}
.quote_details #my-quotations-table td dl dt{background:url(../images/bkg_bulletsm.gif) 0 .8em no-repeat; color:#4C4C4C; font-weight:bold; font-size:12px;}
.quote_details #my-quotations-table td dl dd select {width: 225px;}

.quote_details #quote-totals-table td strong{font-size:12px; color:#000;}
.quote_details #quote-totals-table tfoot td {padding:3px 10px; height:26px;}

.quote_details .edit-qty {border-width: 1px; border-color: #AAA #C8C8C8 #C8C8C8 #AAA; border-style: solid; width: 25px; text-align: center;}


.quote_details th, .quote_details th a, .quote_details th a:hover {color: #9EBF19;}
.quote_details th {font-weight: bold; text-transform: none; font-size: 13px; line-height: 1em; padding: 6px 9px 6px; vertical-align: middle;}
.quote_details th .change-link {font-size: 11px; text-decoration: none; position: absolute; right: 5px;}
.quote_details th div {position: relative;}
.quote-_details th, .quote_details th a, .quote_details th a:hover {color: #9EBF19;}

#my-quotations-table thead{font-size: 11px;background: none;}
.quote_details  thead th, .quote_details #my-quotations-table  thead th{background-color: #2B2B2B; padding: 5px 12px; white-space: nowrap; height: 26px;  color: #9BBC21;  border:0; font-weight:bold; text-transform:none;}
.quote_details .form-list li input.input-text{width:88px;}
.quote_details .form-list li input.street1{width:auto;}
.quote_details .form-list li input.street2{float:right;}


.quote_details .form-list li.fields input.input-text{width:248px;}
.quote_details .form-list li.fields select {width: 192px;}
.quote_details .form-list li.fields select.billing-country, .quote_details .form-list li.fields select.shipping-country {width:230px;}

.quote_details .form-list li.fields input.zipcode{width:180px;}
.quote_details .form-list li.fields input.telephone {width: 208px;}
.quote_details .form-list li label{width:auto;}

.quote_details .two-column td {font-size: 13px;padding: 7px 9px 9px 9px;border-left: 1px solid black;border-bottom: 1px solid black;border-right: 1px solid black;}
.quote_details table{border:0;}

/*timeline-table*/

.quote_details .one-column th {text-align: center;}
.quote_details .timeline-table tr.request_delivery {background-color: #CECECE;}
.quote_details .timeline-table {border-left: 1px solid black; border-bottom: 1px solid black; border-right: 1px solid black;}
.quote_details .timeline-table td{border:0; color:#000;}
.quote_details .timeline-table td.left {text-align: right; font-weight: bold; width: 170px;}
.timeline-table {width: 380px;margin: 0 auto;}
.quote_details .timeline-table tr.request_delivery td.right {color: red;}
.quote_details .timeline-table td .tip, #timeline-table-wrapper p {color: red;}
.quote_details p {font-size: 12px; margin-bottom:0;}
.quote_details .data-table {margin-bottom: 15px;}
#timeline-table-wrapper{margin-top:10px;}

/*quote-comment-history*/
.quote_details #quote-comment-history{margin-top:25px}
.quote_details #quote-comment-history .head,#quote-comment-history li{border:1px solid #E2E2E2;}
.quote_details #quote-comment-history .head{background-color:#EEEEEE;padding:8px 15px;}
.quote_details #quote-comment-history li{border-top:none}

.quote_details#quote-comment-history .comment-additional{background-color:#9FC01A}
.quote_details #quote-comment-history tr.customer-comment .comment-additional{background-color:#747474;color:#fff}

.quote_details #quote-comment-history table td{padding:15px 22px; vertical-align: middle;font-size:12px;}
.quote_details #quote-comment-history .comment-additional{width:35%;}
.quote_details #quote-comment-history textarea{margin:10px 0}
.quote_details #quote-comment-history button {float:right}


/**/
button.downpdf{}
button.downpdf span{background:none; padding:0;}
button.downpdf span span{background:none; padding:0; color:#000; font-weight:normal; text-decoration:underline; color:#444;}
button.downpdf span span:hover{text-decoration:none;}
.generic-box{overflow:hidden; font-size:12px; padding: 10px 0 10px 0;}
.generic-box div p.print-link, .generic-box div button.downpdf{float:left;}
.generic-box div p.print-link{padding: 2px 15px 0 0;}

.quote_details .quote_number h1 {font-size: 16px; font-weight: bold; color: black; margin-bottom: 8px;}

/**/
#my-quotations-table tr{background:white url(../images/data_table_tr_bg.png) repeat-x 0 bottom;}
#my-quotations-table  thead th{background-color: #2B2B2B; padding: 5px 12px; white-space: nowrap; height: 26px;  color: #9BBC21;  border:0; font-weight:normal; text-transform:uppercase;}
#my-quotations-table tbody td{font-size:11px; padding:15px 12px; border:0;}
#my-quotations-table .view-link {color: #c1a237;}

/**/
.quote_page{float: left; line-height: 20px; width: 72%; text-align: center;}
.quote_page span{padding-right:5px;}
.quote-edit-button span{ background:url(../images/quote-edit-btn.png) no-repeat !important; height: auto !important; padding: 15px 56px !important;}
.quote-edit-button span span{ padding: 0 !important; /*display: none;*/}

.quote-edit-button{margin-bottom:15px;}
/**/
.quote-checkout-wrapper span{background:url(../images/quote-checkout-button.jpg) no-repeat 0 0 !important;  height: auto !important; padding: 15px 56px !important;}
.quote-checkout-wrapper span span{display: none;}


.quote-edit-button span span {background: #444; }

