<?xml version="1.0"?>
<config>
    <modules>
        <Magpleasure_Ajaxcontacts>
            <version>1.0</version>
        </Magpleasure_Ajaxcontacts>
    </modules>
    <frontend>
        <routers>
            <ajaxcontacts>
                <use>standard</use>
                <args>
                    <module>Magpleasure_Ajaxcontacts</module>
                    <frontName>ajaxcontacts</frontName>
                </args>
            </ajaxcontacts>
        </routers>
        <layout>
            <updates>
                <ajaxcontacts>
                    <file>ajaxcontacts.xml</file>
                </ajaxcontacts>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ajaxcontacts>
                                            <title>Magpleasure - AJAX Contacts</title>
                                        </ajaxcontacts>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
				</admin>
			</resources>
		</acl>
    </adminhtml>
    <global>
        <models>
            <ajaxcontacts>
                <class>Magpleasure_Ajaxcontacts_Model</class>
            </ajaxcontacts>
        </models>
        <resources>
            <ajaxcontacts_setup>
                <setup>
                    <module>Magpleasure_Ajaxcontacts</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajaxcontacts_setup>
            <ajaxcontacts_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ajaxcontacts_write>
            <ajaxcontacts_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ajaxcontacts_read>
        </resources>
        <blocks>
            <ajaxcontacts>
                <class>Magpleasure_Ajaxcontacts_Block</class>
            </ajaxcontacts>
        </blocks>
        <helpers>
            <ajaxcontacts>
                <class>Magpleasure_Ajaxcontacts_Helper</class>
            </ajaxcontacts>
        </helpers>
    </global>
    <default>
        <ajaxcontacts>
            <general>
                <enabled>1</enabled>
                <top>180</top>
            </general>
            <window>
                <width>650</width>
                <height>460</height>
            </window>
        </ajaxcontacts>
    </default>
</config>