<?xml version="1.0"?>
<config>
    <modules>
        <Factoryphotos_Factoryphotos>
            <version>0.1.0</version>
        </Factoryphotos_Factoryphotos>
    </modules>
    <frontend>
        <routers>
            <factoryphotos>
                <use>standard</use>
                <args>
                    <module>Factoryphotos_Factoryphotos</module>
                    <frontName>factoryphotos</frontName>
                </args>
            </factoryphotos>
        </routers>
        <layout>
            <updates>
                <factoryphotos>
                    <file>factoryphotos.xml</file>
                </factoryphotos>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<factoryphotos>
				<use>admin</use>
				<args>
					<module>Factoryphotos_Factoryphotos</module>
					<frontName>factoryphotos</frontName>
				</args>
			</factoryphotos>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<factoryphotos module="factoryphotos">
				<title>Factoryphotos</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="factoryphotos">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>factoryphotos/adminhtml_factoryphotos</action>
					</items>
				</children>
			</factoryphotos>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Factoryphotos_Factoryphotos>
							<title>Factoryphotos Module</title>
							<sort_order>10</sort_order>
						</Factoryphotos_Factoryphotos>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<factoryphotos>
					<file>factoryphotos.xml</file>
				</factoryphotos>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <factoryphotos>
                <class>Factoryphotos_Factoryphotos_Model</class>
                <resourceModel>factoryphotos_mysql4</resourceModel>
            </factoryphotos>
            <factoryphotos_mysql4>
                <class>Factoryphotos_Factoryphotos_Model_Mysql4</class>
                <entities>
                    <factoryphotos>
                        <table>factoryphotos</table>
                    </factoryphotos>
                </entities>
            </factoryphotos_mysql4>
        </models>
        <resources>
            <factoryphotos_setup>
                <setup>
                    <module>Factoryphotos_Factoryphotos</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </factoryphotos_setup>
            <factoryphotos_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </factoryphotos_write>
            <factoryphotos_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </factoryphotos_read>
        </resources>
        <blocks>
            <factoryphotos>
                <class>Factoryphotos_Factoryphotos_Block</class>
            </factoryphotos>
        </blocks>
        <helpers>
            <factoryphotos>
                <class>Factoryphotos_Factoryphotos_Helper</class>
            </factoryphotos>
        </helpers>
    </global>
</config>