<?xml version="1.0"?>
<config>
    <modules>
        <Artis_Externalform>
            <version>0.1.0</version>
        </Artis_Externalform>
    </modules>
    <frontend>
        <routers>
            <externalform>
                <use>standard</use>
                <args>
                    <module>Artis_Externalform</module>
                    <frontName>externalform</frontName>
                </args>
            </externalform>
        </routers>
        <layout>
            <updates>
                <externalform>
                    <file>externalform.xml</file>
                </externalform>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<externalform>
				<use>admin</use>
				<args>
					<module>Artis_Externalform</module>
					<frontName>externalform</frontName>
				</args>
			</externalform>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<externalform module="externalform">
				<title>Externalform</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="externalform">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>externalform/adminhtml_externalform</action>
					</items>
				</children>
			</externalform>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Artis_Externalform>
							<title>Externalform Module</title>
							<sort_order>10</sort_order>
						</Artis_Externalform>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<externalform>
					<file>externalform.xml</file>
				</externalform>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <externalform>
                <class>Artis_Externalform_Model</class>
                <resourceModel>externalform_mysql4</resourceModel>
            </externalform>
            <externalform_mysql4>
                <class>Artis_Externalform_Model_Mysql4</class>
                <entities>
                    <externalform>
                        <table>externalform</table>
                    </externalform>
                </entities>
            </externalform_mysql4>
        </models>
        <resources>
            <externalform_setup>
                <setup>
                    <module>Artis_Externalform</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </externalform_setup>
            <externalform_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </externalform_write>
            <externalform_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </externalform_read>
        </resources>
        <blocks>
            <externalform>
                <class>Artis_Externalform_Block</class>
            </externalform>
        </blocks>
        <helpers>
            <externalform>
                <class>Artis_Externalform_Helper</class>
            </externalform>
        </helpers>
    </global>
</config>