
/*for ie*/

 #pbie
    {
        /* style the progress bar */
        border: 1px solid black;
        color: Blue;
        background-color:Yellow;
        }
/*Fore Firefox*/


progress[value]::-moz-progress-bar { 
  background-image:
    -moz-linear-gradient(
      135deg, 
      transparent 33%, 
      rgba(0, 0, 0, 0.1) 33%, 
      rgba(0, 0, 0, 0.1) 66%, 
      transparent 66% 
    ),
    -moz-linear-gradient(
      top, 
      rgba(255, 255, 255, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    -moz-linear-gradient(
      left, 
      #2E8AB8,
      #fff
      
    );
/*#09c, 
#3399CC
#f44*/
  border-radius: 2px; 
  background-size: 35px 20px, 100% 100%, 100% 100%; 
}

/*for Webkit/blink */
progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;

  width: 60%;
  height: 20px;
}
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;

    margin-top: 2px;

}
progress[value]::-webkit-progress-value {
  background-image:
     -webkit-linear-gradient(-45deg, 
                             transparent 33%, rgba(0, 0, 0, .1) 33%, 
                             rgba(0,0, 0, .1) 66%, transparent 66%),
     -webkit-linear-gradient(top, 
                             rgba(255, 255, 255, .25), 
                             rgba(0, 0, 0, .25)),
     -webkit-linear-gradient(left,  #2E8AB8, #fff);

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
    -webkit-animation: animate-stripes 5s linear infinite;
        animation: animate-stripes 5s linear infinite;
}
@-webkit-keyframes animate-stripes {
   100% { background-position: -100px 0px; }
}

@keyframes animate-stripes {
   100% { background-position: -100px 0px; }
}

/*bottom dd*/
.clear{ clear: both;}
#bottom-dd{
  margin-bottom: 30px;
  border-bottom: 1px solid block;
}

#left-dd{
  width: 50%;
  float: left;
}
#right-dd{
  width: 50%;
  float: right;
  text-align: right;
}
#review_detail
{
  float: left;
  width: 100%;
  padding: 5px 0px;
}

.reviewsplus-sidebar
{
  float: right;
  margin-bottom: 3px;
  width: 95%;
  text-align: left;

}
.addthis_toolbox
{
  padding: 10px
}
#reply
{
  
  float: right;
  width: 95%;
  padding: 5px 0px;
}

.product-details #reply
{
  
  float: right;
  width: 55%;
  padding: 5px 0px;
}
#ratings .ratings
{
  float: left;
  display: inline;
  
}

#ratings .rating-box
{
  float: right;
  margin-left: 10px;
  margin-right: 10px;
}
/*div.ratings
{ border-bottom: 1px solid #cccccc;}*/
  #average
  {
    margin-left: 75px;
    margin-top: -20px;
    margin-bottom: 5px;
  }
.ratings_bar .rating-box
{
  float: right;
  margin-left: 10px;
  margin-right: 10px;
}
#customer-reviews{margin-top: 35px;}

#stars
{
  float: left;
  display: block;
  margin-right: 1px;
  line-height: 10px;
  margin: 5px 15px 5px 0;
 
}
#starsone
{
  float: left;
  display: block;
  margin-right: 1px;
  line-height: 10px;
  margin: 5px 16px 5px 0;
 
}

#star_ul
{
  float: left;
  width: auto;

}
.star_li
{
  height: 20px;
  margin-bottom: 5px;
  width: 290px;
  line-height: 10px;

}


#rating_vote
      {
        float: right;
       /* width: 15px;*/
        text-align: left;
        /*IE-7 Only*/
        *margin-top: -15px;
        /*IE-8,9 Only*/
        margin-top: -15px\0/;
        margin-right: 15px;
       
       

      }
     
   @media all and (-ms-high-contrast:none) {
    #rating_vote { margin-top: 0px;   } /* IE10 */
    *::-ms-backdrop,  #rating_vote { margin-top: 0px;   } /* IE11 */
 }
 @media screen and (-webkit-min-device-pixel-ratio:0) { 
    /* Safari only override */
    ::i-block-chrome,#star_ul
{
  float: left;
  width: 59%;

}
}

     



.progress-bar {
  background-color: whiteSmoke;
  border-radius: 2px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;

  width: auto;
  height: 20px;
  margin-left: 45px;
  position: relative;
  display: block;
}
  
.progress-bar > span {
  background-color: blue;
  border-radius: 2px;
  height: 19px;
  font-style: #fff;
  display: block;
  text-indent: -9999px;
}


   #customer-reviews hr {
       border: none;
       background: #cccccc;
       height : 1px;
       width: 100%;
       float: left;

      color: #cccccc;
       margin : 1em 0;
       }       
@media (min-width: 300px) and (max-width: 400px) {
#ratings .ratings { width: 100% !important; }
#left-dd{
  width: 100%;
  float: left;
}
#right-dd{
  width: 100%;
  float: right;
  text-align: left;
}

}

