<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Amasty_Zoom>
            <version>1.0.0</version>
        </Amasty_Zoom>
    </modules>
    <frontend>
        <translate>
            <modules>
                <Amasty_Zoom>
                    <files>
                        <default>Amasty_Zoom.csv</default>
                    </files>
                </Amasty_Zoom>
            </modules>
        </translate>
        <layout>
            <updates>
                <amzoom>
                    <file>amzoom.xml</file>
                </amzoom>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Amasty_Zoom>
                    <files>
                        <default>Amasty_Zoom.csv</default>
                    </files>
                </Amasty_Zoom>
            </modules>
        </translate>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <amzoom translate="title" module="amzoom">
                                            <title>Zoom Pro</title>
                                        </amzoom>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <models>
            <amzoom>
                <class>Amasty_Zoom_Model</class>
                <resourceModel>amzoom_mysql4</resourceModel>
            </amzoom>
        </models>
		<resources>
             <amzoom_setup>
                <setup>
                    <module>Amasty_Zoom</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </amzoom_setup>
		    <amzoom_write>
		        <connection><use>core_write</use></connection>
		    </amzoom_write>
		    <amzoom_read>
		        <connection><use>core_read</use></connection>
		    </amzoom_read>
		</resources>
        <blocks>
            <amzoom>
                <class>Amasty_Zoom_Block</class>
            </amzoom>
        </blocks>
        <helpers>
            <amzoom>
                <class>Amasty_Zoom_Helper</class>
            </amzoom>
        </helpers>
    </global>
    <default>
        <amzoom>
           <zoom>
                <enable>1</enable>
                <type>outside</type>
                <visible_items>3</visible_items>
                <circular_carousel>1</circular_carousel>
                <change_main_img_with>click</change_main_img_with>
           </zoom>
           <zoom_outside>
               <viewer_position>right</viewer_position>
               <viewer_margin>15</viewer_margin>
               <viewer_height>265</viewer_height>
               <viewer_width>265</viewer_width>
               <show_product_name>1</show_product_name>
               <use_tint_effect>0</use_tint_effect>
           </zoom_outside>
           <zoom_on_category_grid>
               <enable>1</enable>
               <viewer_position>right</viewer_position>
               <viewer_margin>15</viewer_margin>
               <viewer_height>265</viewer_height>
               <viewer_width>265</viewer_width>
               <show_product_name>1</show_product_name>
           </zoom_on_category_grid>
           <carousel>
                <enable>1</enable>
                <visible_items>3</visible_items>
                <circular_carousel>1</circular_carousel>
                <carousel_direction>under</carousel_direction>
           </carousel>
           <lightbox>
                <enable>1</enable>
                <circular_lightbox>1</circular_lightbox>
                <title_position>float</title_position>
                <effect>fade</effect>
                <thumbnail_helper>1</thumbnail_helper>
           </lightbox>
           <thumbnails>
                 <enable>1</enable>
           </thumbnails>
           <size>
                <thumb>56</thumb>
                <preview_width>265</preview_width>
                <preview_height>265</preview_height>
           </size>
        </amzoom>
    </default>
</config>