<?xml version="1.0"?>
<config>
  <modules>
    <Artis_Freesample>
      <version>1.7.0</version>
    </Artis_Freesample>
  </modules>
  <frontend>
    <routers>
      <freesample>
        <use>standard</use>
          <args>
            <module>Artis_Freesample</module>
            <frontName>freesample</frontName>
          </args>
      </freesample>
    </routers>
		<layout>
		  <updates>
			<freesample>
			  <file>freesample.xml</file>
			</freesample>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <freesample>
        <class>Artis_Freesample_Helper</class>
      </freesample>
    </helpers>
	<blocks>
	  <freesample>
		<class>Artis_Freesample_Block</class>
	  </freesample>
	</blocks>
  </global>
</config> 