

#template_options_container{
	padding:20px;
}
#template_options_container select{
	width:340px;
}

#template_options_container .tmpl-box{
	float:left;
	width:50%;
}

#tmpl-description{
	display:block;
	margin: 0 0 0 50px;
}

#text-guide{
	display:block;
	margin:0px 0 0 0;
}

#template_options_container .description-templ{
	border:1px solid #DDDDDD;
	margin:20px 0 0 0;
	padding:10px 20px 10px 20px;
	width:300px;
}

.product-options{
    min-height: 50px;
}
.product-options .input-box{
   overflow: hidden;
}

.bound-menu-image {
	text-align: center;
	margin: 10px 10px 0 0;
}

.active-menu-image, .menu-image:hover {
	border: 1px solid #7F7F7F;
}