body{ margin: 0; padding: 0; overflow-x:hidden; background:#fff;}
.total-main { width:960px; margin: 0 auto;background: #fff; font: normal 12px/16px Arial; color: #fff; padding: 0px; /*margin-top: 40px;*/}
.top_area { margin: 0 auto; width: 1000px;background: #fff;}
input { font: 12px Arial;}

.all_bill { float: left; width: 50%; margin-top: 30px; position: relative;}
#ship_info { float: left; width: 48%; margin-top: 30px; position:relative; left:20px;}
.con { padding: 5px 0; width: 30%; float: left;}
.im_con {width: 16%; float: left; margin-top:-15px; margin-left:10px}
.lab { float: left; width: 100%; font:   12px/30px Arial; color:#ff6407;}
.inp { float: left; width: 100%;}
#pro_qty { float: left; width: 25%; }
#pro_qty input { width: 15%; text-align: center; height: 28px; border: 0; outline: none; }
.desc-step3 { float: left; width: 100%; margin-top: 20px;}
span.im { width: 100%; float: left; display: block;font: 12px/30px Arial; color:#fff;}
.im_con img { text-align: center;}
.req-head {}
.m_con { /*width: 100%;*/ float: left; margin: 10px 0; position: absolute; top: -38px; left: 0; color:#fff; left:70px;}
.pord-pic, .liveord-head, .req-head { width: 100%; float: left; padding: 5px 0; color:#000;}
.name-head, .bill-head, .loc-head, .coun-head, .ph-head, .email-head, .comp-head { width: 30%; float: left; clear: both; color:#000;}
.name-data, .bill-data, .loc-data, .coun-data, .ph-data, .email-data, .comp-data, .inv-data { /*width: 75%;*/ margin-left: 5%; float: left;}
.def_cl { width: 88px; height: 88px; background: #fff; float: left; margin-left: 23px; border:1px solid #ccc;}
.im_con img { width: 88px; height: 88px; background: #fff; float: left; margin-left: 8px; border:1px solid #ccc; }

.nam1, .nam2 {margin: 5px 0; display: block; line-height: 28px; float: left; width: 90%; color:#fff; text-align:left;}
.nput2 { margin: 5px 0; display: block; float: left; width: 100%; /*border:1px solid #ccc;*/}
.bill-data input { margin: 0 0 5px 0; display: block; width:99%; height: 28px; border:1px solid #ccc;margin: 5px 0; float: left;}
span.nput1 input { width: 99%; height: 28px; border:1px solid #ccc;}
span.nput2 input { width: 99%; height: 28px; border:1px solid #ccc;}
.ph-data input { width: 99%; height: 28px;  float: left; margin: 5px 0; outline: 0;  border:1px solid #ccc;}
.email-data input { width: 99%; height: 28px; float: left; margin: 5px 0; outline: 0; border:1px solid #ccc;}
.comp-data input { width: 99%; height: 28px;  outline: 0; margin: 5px 0; border:1px solid #ccc;}
.ship_add { margin: 10px 0; font: bold 16px/18px Arial; color:#fff;}
span.nput2 select.contenta { width:100%; /*border: 0 !important;*/ padding: 5px 0; font: 12px/14px Arial; background: #fff !important;  border:1px solid #ccc !important;}
#pro_qty input { margin-left: 30px;}
.nput1 input{ display: block;}
.nput1 { display: block; width: 100%; float: left; margin: 5px 0; /*border:1px solid #ccc;*/}
span.inp select { outline: none; font: 12px/14px Arial; padding: 5px 0 !important; width:98%}
.pord-pic input { border: 0; padding: 6px 15px; background:url("../../images/btn_submit.png") repeat scroll 0 0 rgba(0, 0, 0, 0); cursor: pointer; border-radius: 5px;
border:none;
height:34px;
width:123px !important;
 }
/*.pord-pic input:hover { color: #fff; background:#fdc115; border:1px solid #d8a000;}*/
span.fontRed { color: #b50000;
    margin: 1px 2px 2px 5px;}
.req-head { margin-top: 20px; color:red;}
.success { float: right; padding: 7px; font: bold 14px Arial; width: 26%; text-align: center; line-height: 25px; margin: -70px 0 0; }
.inv-data {float: left; left: 188px; margin-left: 0; position: relative;  top: -32px; width: 75%;}
.inv-data select { border: 0 !important; margin: 5px 0; float: left; width: 80%; padding: 5px 0; background: #fff !important;}
.inv-head .nam1{ line-height: normal;}
.inv-head { width: 25%; float: left;}

/*---------------------------13-12-13-----------------------------------*/
.pro_qty { width: 8%; float: left; margin-top:15px;}
.del_button { width: 10%; float: left; margin-top:45px;}
.one_pro {float: left; margin-bottom: 10px; width: 100%; background: #fff; padding: 13px; border:1px solid #ff9900;}
.pro_qty input.quantity { width: 30px !important; text-align: center; border:1px solid #ccc; outline: none; padding: 5px 0; background: #fff !important;}

.del_button a.del_it {width: 17px; height: 17px; background: url(../images/delete3_btn.png) no-repeat right top; overflow: hidden; text-indent: 50px;margin: 0px;
	display: block;float: right; }

.total-main:after { clear: both; content: "."; display: block; font-size: 0; height: 0; line-height: 0; overflow: hidden;}


.captcha_area { float: left;padding-left: 35%;text-align: left; color: #fff; width:440px;}
.captcha_area .captcha_img { /*margin:10px 0 ; width:200px; float:left; */}
.reset_captcha { width: 12%; float: left;}
.reset_captcha a { color: #fff; font-weight: bold; text-decoration: underline;}
.reset_captcha a:hover { text-decoration: none;}

/*---------------------------24-12-13-----------------------------------*/
.main_main { background: #fff; margin: 0 auto; float: left; }
.thank_u { font: 20px/18px Arial; color: #0ff; margin-top: 10px; padding: 10px; min-height: 20px;}


body { background: none;}
.bo_docklink { display: none !important;}
/*select#cat { width: 96% !important;}
select.prod { width: 96% !important;}*/
input.input-text, select, textarea { font: 12px/14px Arial;}

.con.proddiv { width: 32%;}
.refresh_captcha {
   float:left;
   
}
.required_headings{float:left; margin:0px; padding:0px 0px 0px 0px; text-align:left;}
iframe {
    border: medium none;
/*    float: left;
    width: 940px ;
    height: 1350px;*/
}
iframe #I1{
	margin-left:42px !important;
	}
.youama-slider-block{float:left !important; }	