<?xml version="1.0"?>
<config>
    <modules>
        <Fishpig_Proofs>
            <version>0.1.0</version>
        </Fishpig_Proofs>
    </modules>
     <frontend>
        <routers>
            <proofs>
                <use>standard</use>
                <args>
                    <module>Artis_Proofs</module>
                    <frontName>proofs</frontName>
                </args>
            </proofs>
        </routers>
        <layout>
            <updates>
                <proofs>
                    <file>proofs.xml</file>
                </proofs>
            </updates>
        </layout>
    </frontend>
    <stores>
        <admin>
            <!-- override default admin design package and theme -->
            <design>
                <package>
                    <name>default</name>
                </package>
                <theme>
                    <!-- this is the theme name -->
                    <default>artis</default>
                </theme>
            </design>
        </admin>
    </stores>
     <admin>
            <routers>
                <proofs>
				<use>admin</use>
				<args>
					<module>Fishpig_Proofs</module>
					<frontName>proofs</frontName>
				</args>
			</proofs>
                <adminhtml>
                    <args>
                        <modules>
                            <Fishpig_Proofs before="Mage_Adminhtml">Fishpig_Proofs_Adminhtml</Fishpig_Proofs>
                        </modules>
                    </args>
                </adminhtml>
            </routers>
      </admin>
     <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                         <Fishpig_Proofs before="Mage_Checkout">Fishpig_Proofs</Fishpig_Proofs>
                    </modules>
                </args>
            </checkout>
            <sales>
                <args>
                    <modules>
                         <Fishpig_Proofs before="Mage_Sales">Fishpig_Proofs</Fishpig_Proofs>
                    </modules>
                </args>
            </sales>
        </routers>
    </frontend>
    <global>
        <blocks>
            <proofs>
                <class>Fishpig_Proofs_Block</class>
            </proofs>
        </blocks>
        <models>
            <proofs>
                <class>Fishpig_Proofs_Model</class>
                <resourceModel>Proofs_mysql4</resourceModel>
            </proofs>
            <Proofs_myslq4>
                    <class>Fishpig_Proofs_Model_Mysql4</class>
                    <!--<entities>
                        <Proofs>
                            <table>notes</table>
                        </Proofs>
                    </entities>-->
                </Proofs_myslq4> 
        </models>
        
         <resources>
                <Proofs_setup>
                    <setup>
                        <module>Fishpig_Proofs</module>
                    </setup>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </Proofs_setup>
                <Proofs_write>
                    <connection>
                        <use>core_write</use>
                    </connection>
                </Proofs_write>
                <Proofs_read>
                    <connection>
                        <use>core_read</use>
                    </connection>
                </Proofs_read>
            </resources>
	  <helpers>
            <proofs>
                <class>Fishpig_Proofs_Helper</class>
            </proofs>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <proofs>
                    <file>proofs.xml</file>
                </proofs>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <fishpig_save_product_data>
                        <type>singleton</type>
                        <class>proofs/observer</class>
                        <method>saveProductTabData</method>
                    </fishpig_save_product_data>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
</config>