<?xml version="1.0"?>
<config>
    <modules>
        <Sag_Gallery>
            <version>0.1.0</version>
        </Sag_Gallery>
    </modules>
    <frontend>
        <routers>
            <gallery>
                <use>standard</use>
                <args>
                    <module>Sag_Gallery</module>
                    <frontName>gallery</frontName>
                </args>
            </gallery>
        </routers>
        <layout>
            <updates>
                <gallery>
                    <file>gallery.xml</file>
                </gallery>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <gallery>
                <use>admin</use>
                <args>
                    <module>Sag_Gallery</module>
                    <frontName>gallery</frontName>
                </args>
            </gallery>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <gallery module="gallery">
                <title>Gallery</title>
                <sort_order>71</sort_order>               
                <children>
                    <categories module="gallery">
                        <title>Manage Category</title>
                        <sort_order>0</sort_order>
                        <action>gallery/adminhtml_category</action>
                    </categories>
                    <items module="gallery">
                        <title>Manage Items</title>
                        <sort_order>1</sort_order>
                        <action>gallery/adminhtml_gallery</action>
                    </items>
                </children>
            </gallery>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Sag_Gallery>
                            <title>Gallery Module</title>
                            <sort_order>10</sort_order>
                        </Sag_Gallery>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <gallery>
                    <file>gallery.xml</file>
                </gallery>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <gallery>
                <class>Sag_Gallery_Model</class>
                <resourceModel>gallery_mysql4</resourceModel>
            </gallery>
            <gallery_mysql4>
                <class>Sag_Gallery_Model_Mysql4</class>
                <entities>
                    <gallery>
                        <table>gallery</table>
                    </gallery>
                    <category>
                        <table>category</table>
                    </category>
                    <category_store>
                        <table>category_store</table>
                    </category_store>
                    
                </entities>
            </gallery_mysql4>
        </models>
        <resources>
            <gallery_setup>
                <setup>
                    <module>Sag_Gallery</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </gallery_setup>
            <gallery_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </gallery_write>
            <gallery_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </gallery_read>
        </resources>
        <blocks>
            <gallery>
                <class>Sag_Gallery_Block</class>
            </gallery>
        </blocks>
        <helpers>
            <gallery>
                <class>Sag_Gallery_Helper</class>
            </gallery>
        </helpers>
    </global>
</config>