<?xml version="1.0"?>
<config>

    <modules>
        <Cateyes_Phoneorder>
            <version>2.0.0</version>
        </Cateyes_Phoneorder>
    </modules>

    <global>
        <blocks>
            <phoneorder>
                <class>Cateyes_Phoneorder_Block</class>
            </phoneorder>
        </blocks>
        <helpers>
            <phoneorder>
                <class>Cateyes_Phoneorder_Helper</class>
            </phoneorder>
        </helpers>        
        <models>
          <phoneorder_adminhtml>
            <class>Cateyes_Phoneorder_Adminhtml_Model</class>
          </phoneorder_adminhtml>            
            <phoneorder>
                <class>Cateyes_Phoneorder_Model</class>
                <resourceModel>phoneorder_mysql4</resourceModel>
            </phoneorder>
            <phoneorder_mysql4>
                <class>Cateyes_Phoneorder_Model_Mysql4</class>
                <entities>
                    <phoneorder>
                        <table>phoneorder</table>
                    </phoneorder>
                </entities>
            </phoneorder_mysql4>            
        </models>
        <resources>
            <phoneorder_setup>
                <setup>
                    <module>Cateyes_Phoneorder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </phoneorder_setup>
            <phoneorder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </phoneorder_write>
            <phoneorder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </phoneorder_read>
        </resources>   

        <template>
            <email>
                <phoneorder_notification>
                    <label>Phone Order Notification Email Template</label>
                    <file>phoneorder_notification.html</file>
                    <type>html</type>
                </phoneorder_notification>
            </email>
        </template>            

    </global>
    
    <adminhtml>
        <menu>
            <sales>
                <children>
                    <phoneorder_menu>
                        <title>Phone Orders</title>
                        <action>phoneorder/adminhtml_index</action>                        
                    </phoneorder_menu>
                </children>
            </sales>
        </menu>
        <layout>
            <updates>
                <phoneorder>
                    <file>phoneorder.xml</file>
                </phoneorder>
            </updates>
        </layout>        
        <translate>
            <modules>
                <Cateyes_Phoneorder>
                    <files>
                        <default>Cateyes_Phoneorder.csv</default>
                    </files>
                </Cateyes_Phoneorder>
            </modules>
        </translate>  
    </adminhtml>  

    <default>
        <phoneorder>
            <configuration>                
                <leftblock>1</leftblock>         			
                <rightblock>0</rightblock>         
                <centerblock>0</centerblock>         
                <availabilitymsg></availabilitymsg>         
                <notification>0</notification>         
                <notificationemail></notificationemail>         
                <stylename>pink</stylename>         
            </configuration>      
        </phoneorder>
    </default>

    <frontend>
        <routers>
            <phoneorder>
                <use>standard</use>
                <args>
                    <module>Cateyes_Phoneorder</module>
                    <frontName>phoneorder</frontName>
                </args>
            </phoneorder>
        </routers>
        <translate>
            <modules>
                <Cateyes_Phoneorder>
                    <files>
                        <default>Cateyes_Phoneorder.csv</default>
                    </files>
                </Cateyes_Phoneorder>
            </modules>
        </translate> 
        <layout>
            <updates>
                <phoneorder>
                    <file>phoneorder.xml</file>
                </phoneorder>
            </updates>
        </layout>        
    </frontend>

</config>