.nivoSlider {
   /* left: 50px;*/
}
.nivo-controlNav {
    bottom: 10px !important;
    padding: 0px;
}


.page {
    margin: 0 auto;
    padding: 0;
/*    width: 100%;*/
}
.wrapper{margin:0px 0px 0px 0px;

}

