<?xml version="1.0"?>
<config>
    <modules>
        <Vividads_Autologin>
            <version>0.1.0</version>
        </Vividads_Autologin>
    </modules>
    <frontend>
        <routers>
            <autologin>
                <use>standard</use>
                <args>
                    <module>Vividads_Autologin</module>
                    <frontName>autologin</frontName>
                </args>
            </autologin>
        </routers>
        <layout>
            <updates>
                <autologin>
                    <file>autologin.xml</file>
                </autologin>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<autologin>
				<use>admin</use>
				<args>
					<module>Vividads_Autologin</module>
					<frontName>autologin</frontName>
				</args>
			</autologin>
<!--                        <adminhtml>
                            <args>
                                <modules>
                                <Vividads_Autologin  before="Artis_Designer_Adminhtml">Vividads_Autologin</Vividads_Autologin>
                                </modules>
                            </args>
                        </adminhtml>
-->
        </routers>
    </admin>
    <global>
        <models>
            <sales>
                <rewrite>
                    <order>Vividads_Autologin_Model_Sales_Order</order>
                    <order_invoice>Vividads_Autologin_Model_Sales_Order_Invoice</order_invoice>
		    <!--<order_shipment>Vividads_Autologin_Model_Sales_Order_Shipment</order_shipment>-->
                </rewrite>
            </sales>

            <autologin>
                <class>Vividads_Autologin_Model</class>
                <resourceModel>autologin_mysql4</resourceModel>
            </autologin>
            <autologin_mysql4>
                <class>Vividads_Autologin_Model_Mysql4</class>
                <entities>
                    <autologin>
                        <table>autologin</table>
                    </autologin>
                </entities>
            </autologin_mysql4>
        </models>
        <resources>
            <autologin_setup>
                <setup>
                    <module>Vividads_Autologin</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </autologin_setup>
            <autologin_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </autologin_write>
            <autologin_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </autologin_read>
        </resources>
        <blocks>
            <autologin>
                <class>Vividads_Autologin_Block</class>
            </autologin>
        </blocks>
        <helpers>
            <autologin>
                <class>Vividads_Autologin_Helper</class>
            </autologin>
        </helpers>
    </global>
</config>
