<?xml version="1.0"?>
<config>
    <modules>
        <Manageprice_Putrange>
            <version>0.1.0</version>
        </Manageprice_Putrange>
    </modules>
<!--    <frontend>
        <routers>
            <putrange>
                <use>standard</use>
                <args>
                    <module>Manageprice_Putrange</module>
                    <frontName>putrange</frontName>
                </args>
            </putrange>
        </routers>
        <layout>
            <updates>
                <putrange>
                    <file>putrange.xml</file>
                </putrange>
            </updates>
        </layout>
    </frontend>
-->    <admin>
        <routers>
			<putrange>
				<use>admin</use>
				<args>
					<module>Manageprice_Putrange</module>
					<frontName>putrange</frontName>
				</args>
			</putrange>
        </routers>
    </admin>
    <adminhtml>
		<menu>
		  <system>
			<children>
			      <putrange module="putrange">
				      <title>Calculator price range</title>
				      <sort_order>71</sort_order>               
				      <children>
					      <items module="putrange">
						      <title>Manage price</title>
						      <sort_order>0</sort_order>
						      <action>putrange/adminhtml_putrange</action>
					      </items>
				      </children>
			      </putrange>
			</children>
		  </system>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Manageprice_Putrange>
							<title>Putrange Module</title>
							<sort_order>10</sort_order>
						</Manageprice_Putrange>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<putrange>
					<file>putrange.xml</file>
				</putrange>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <putrange>
                <class>Manageprice_Putrange_Model</class>
                <resourceModel>putrange_mysql4</resourceModel>
            </putrange>
            <putrange_mysql4>
                <class>Manageprice_Putrange_Model_Mysql4</class>
                <entities>
                    <putrange>
                        <table>putrange</table>
                    </putrange>
                </entities>
            </putrange_mysql4>
        </models>
        <resources>
            <putrange_setup>
                <setup>
                    <module>Manageprice_Putrange</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </putrange_setup>
            <putrange_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </putrange_write>
            <putrange_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </putrange_read>
        </resources>
        <blocks>
            <putrange>
                <class>Manageprice_Putrange_Block</class>
            </putrange>
        </blocks>
        <helpers>
            <putrange>
                <class>Manageprice_Putrange_Helper</class>
            </putrange>
        </helpers>
    </global>
</config>