<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Mico_Mupload>
			<version>0.1.0</version>
		</Mico_Mupload>
	</modules>
	<global>
		<helpers>
            <mupload>
                <class>Mico_Mupload_Helper</class>
            </mupload>
        </helpers>
		<models>
			<mupload>
				<class>Mico_Mupload_Model</class>
			</mupload>
			<catalog>
				<rewrite>
					<product_option_type_file>Mico_Mupload_Model_Product_Option_Type_File</product_option_type_file>
				</rewrite>
			</catalog>
		</models>
		<blocks>
			<mupload>
				<class>Mico_Mupload_Block</class>
			</mupload>
		</blocks>
	</global>
	<frontend>
		<events>
			<!--sales_order_save_after>
				<observers>
					<mupload_sales_order_save_after>
						<class>mupload/observer</class>
						<method>hookOrderSaveAfter</method>
					</mupload_sales_order_save_after>
				</observers>
			</sales_order_save_after-->
			<checkout_type_onepage_save_order_after>
				<observers>
					<mupload_checkout_type_onepage_save_order_after>
						<class>mupload/observer</class>
						<method>hookOrderSaveAfter</method>
					</mupload_checkout_type_onepage_save_order_after>
				</observers>
			</checkout_type_onepage_save_order_after>
			<checkout_submit_all_after>
				<observers>
					<mupload_checkout_submit_all_after>
						<class>mupload/observer</class>
						<method>hookOrderSaveAfter</method>
					</mupload_checkout_submit_all_after>
				</observers>
			</checkout_submit_all_after>
        </events>
		<routers>
			<Mico_Mupload>
				<use>standard</use>
				<args>
					<module>Mico_Mupload</module>
					<frontName>mupload</frontName>
				</args>
			</Mico_Mupload>
		</routers>
		<translate>
            <modules>
                <Mico_Mupload>
                    <files>
                        <default>Mico_Mupload.csv</default>
                    </files>
                </Mico_Mupload>
            </modules>
        </translate>
		<layout>
			<updates>
				<mupload>
					<file>mico/mupload.xml</file>
				</mupload>
			</updates>
		</layout>		
	</frontend>	
	<adminhtml>		
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<muploadultimate>
											<title>Mico Upload Ultimate</title>
										</muploadultimate>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config> 