<?xml version="1.0"?>
<config>
    <modules>
        <WL_Auspost>
            <version>0.1.0</version>
        </WL_Auspost>
    </modules>
    <frontend>
        <routers>
            <auspost>
                <use>standard</use>
                <args>
                    <module>WL_Auspost</module>
                    <frontName>auspost</frontName>
                </args>
            </auspost>
        </routers>
        <layout>
            <updates>
                <auspost>
                    <file>auspost.xml</file>
                </auspost>
            </updates>
        </layout>
    </frontend>
    <global>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <auspost_save_shipping>
                        <type>model</type>
                        <class>auspost/observer</class>
                        <method>saveShippingMethod</method>
                    </auspost_save_shipping>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <sales_model_service_quote_submit_after>
                <observers>
                    <auspost_quote_submit>
                        <type>model</type>
                        <class>auspost/observer</class>
                        <method>saveOrderAfter</method>
                    </auspost_quote_submit>
                </observers>
            </sales_model_service_quote_submit_after>
        </events>
        <models>
            <auspost>
                <class>WL_Auspost_Model</class>
                <resourceModel>auspost_mysql4</resourceModel>
            </auspost>
            <auspost_config>
                <class>WL_Auspost_Model_Config</class>
            </auspost_config>
            <sales>
                <rewrite>
                    <order>WL_Auspost_Model_Order</order>
                    <order_pdf_invoice>WL_Auspost_Model_Order_Pdf_Invoice</order_pdf_invoice>
                </rewrite>
            </sales>
        </models>
        <resources>
            <auspost_setup>
                <setup>
                    <module>WL_Auspost</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </auspost_setup>
            <auspost_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </auspost_write>
            <auspost_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </auspost_read>
        </resources>
        <blocks>
            <auspost>
                <class>WL_Auspost_Block</class>
            </auspost>
            <checkout>
                <rewrite>
                    <cart_shipping>WL_Auspost_Block_Cart_Shipping</cart_shipping>
                    <multishipping_shipping>WL_Auspost_Block_Multishipping_Shipping</multishipping_shipping>
                    <onepage_shipping_method_available>WL_Auspost_Block_Onepage_Shipping_Method_Available</onepage_shipping_method_available>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <auspost>
                <class>WL_Auspost_Helper</class>
            </auspost>
        </helpers>
    </global>
    <default>
		<carriers>
            <auspost>
                <active>1</active>
                <auspost_enabled_test_mode>0</auspost_enabled_test_mode>
                <auspost_title>Australia Post</auspost_title>
                <auspost_method_name>Australia Post</auspost_method_name>
                <auspost_merchant_password backend_model="adminhtml/system_config_backend_encrypted"/>
                <auspost_specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</auspost_specificerrmsg>


                <auspost_enable_tracking>1</auspost_enable_tracking>
                <auspost_enable_fetch_address>1</auspost_enable_fetch_address>
                <auspost_enable_postcode_capability>1</auspost_enable_postcode_capability>
                <auspost_enable_validate_shipping_address>1</auspost_enable_validate_shipping_address>

                <model>auspost/carrier_auspost</model>
            </auspost>
	     </carriers>
       </default>
</config>