<?xml version="1.0"?>

<config>
    <sections>
        <carriers>
            <groups>
                <auspost translate="label" module="auspost">
                    <label>Australia Post</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </active>
                        <auspost_enabled_test_mode translate="label">
                            <label>Enable Test Mode</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </auspost_enabled_test_mode>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <auspost_method_name translate="label">
                            <label>Method name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auspost_method_name>
                        <auspost_specificerrmsg translate="label">
                            <label>Displayed Error Message</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auspost_specificerrmsg>
                        <auspost_merchant_id translate="label">
                            <label>Merchant ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auspost_merchant_id>
                        <auspost_api_user translate="label">
                            <label>API User</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auspost_api_user>
                        <auspost_api_password translate="label">
                            <label>API password</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auspost_api_password>
                        <auspost_days_handling translate="label">
                            <label>Number of days Handling</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auspost_days_handling>
                        <auspost_from_shipping_postcode translate="label">
                            <label>Warehouse Postcode</label>
                            <comment>In order to query delivery options</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auspost_from_shipping_postcode>
                        <auspost_enable_tracking>
                            <label>Enable Tracking Orders</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </auspost_enable_tracking>
                        <auspost_enable_fetch_address>
                            <label>Enable Fetch AUSPOST Address</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </auspost_enable_fetch_address>
                        <auspost_enable_postcode_capability>
                            <label>Enable Postcode Capability</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </auspost_enable_postcode_capability>
                        <auspost_enable_validate_shipping_address>
                            <label>Enable Validate Shipping Address</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </auspost_enable_validate_shipping_address>
                        <auspost_enable_collection_point >
                            <label>Enable Collection Point</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </auspost_enable_collection_point>
                        <auspost_enable_services translate="label">
                            <label>Enable services</label>
                            <frontend_type>select</frontend_type>
                            <backend_model>auspost_config/ServiceMultiSelectionOptions</backend_model>
                            <source_model>auspost_config/ServiceMultiSelectionOptions</source_model>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_type>multiselect</frontend_type>
                        </auspost_enable_services>

                        <auspost_shipping_price_1 translate="label">
                            <label>Standard price</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auspost_shipping_price_1>
                        <auspost_shipping_price_2 translate="label">
                            <label>Date - Standard price</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auspost_shipping_price_2>
                        <auspost_shipping_price_3 translate="label">
                            <label>Date and AM/PM - Standard price</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auspost_shipping_price_3>
                        <auspost_shipping_price_4 translate="label">
                            <label>Date and 2 hours- Standard price</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auspost_shipping_price_4>
                        <auspost_shipping_price_5 translate="label">
                            <label>Day - Standard price</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auspost_shipping_price_5>
                        <auspost_shipping_price_6 translate="label">
                            <label>Day and AM/PM - Standard price</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auspost_shipping_price_6>
                        <auspost_shipping_price_7 translate="label">
                            <label>Day and 2 hours - Standard price</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auspost_shipping_price_7>
                        <auspost_shipping_price_8 translate="label">
                            <label>AM/PM - Standard price</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auspost_shipping_price_8>
                        <auspost_shipping_price_9 translate="label">
                            <label>2 hours - Standard price</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auspost_shipping_price_9>


                        <auspost_shipping_price_101 translate="label">
                            <label>Express price</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auspost_shipping_price_101>
                        <auspost_shipping_price_102 translate="label">
                            <label>Date - Express price</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>125</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auspost_shipping_price_102>
                        <auspost_shipping_price_103 translate="label">
                            <label>Date and AM/PM - Express price</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auspost_shipping_price_103>
                        <auspost_shipping_price_104 translate="label">
                            <label>Date and 2 hours- Express price</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>140</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auspost_shipping_price_104>
                        <auspost_shipping_price_105 translate="label">
                            <label>Day - Express price</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>150</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auspost_shipping_price_105>
                        <auspost_shipping_price_106 translate="label">
                            <label>Day and AM/PM - Express price</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>160</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auspost_shipping_price_106>
                        <auspost_shipping_price_107 translate="label">
                            <label>Day and 2 hours - Express price</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>170</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auspost_shipping_price_107>
                        <auspost_shipping_price_108 translate="label">
                            <label>AM/PM - Express price</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>180</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auspost_shipping_price_108>
                        <auspost_shipping_price_109 translate="label">
                            <label>2 hours - Express price</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>190</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auspost_shipping_price_109>


                        <auspost_error_message translate="label">
                            <label>Displayed error message</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>260</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auspost_error_message>
                        <sallowspecific translate="label">
                            <label>Ship to applicable countries</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>265</sort_order>
                            <frontend_class>shipping-applicable-country</frontend_class>
                            <source_model>adminhtml/system_config_source_shipping_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sallowspecific>
                        <specificcountry translate="label">
                            <label>Ship to Specific countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>270</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </specificcountry>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>275</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sort_order>
                    </fields>
                </auspost>
            </groups>
        </carriers>
    </sections>
</config>