<?xml version="1.0"?>
<config>
    <modules>
        <GrafischDirect_Algemeen>
            <version>1.1.0</version>
        </GrafischDirect_Algemeen>
    </modules>

    <global>
        <models>
            <gdalgemeen>
                <class>GrafischDirect_Algemeen_Model</class>
            </gdalgemeen>
        </models>
        <blocks>
            <gdalgemeen>
                <class>GrafischDirect_Algemeen_Block</class>
            </gdalgemeen>
        </blocks>
        <helpers>
            <gdalgemeen>
                <class>GrafischDirect_Algemeen_Helper</class>
            </gdalgemeen>
        </helpers>
    </global>

    <adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                    <gdalgemeen>
                        <class>gdalgemeen/observer</class>
                        <method>preDispatch</method>
                    </gdalgemeen>
                </observers>
            </controller_action_predispatch>
        </events>
        <translate>
            <modules>
                <GrafischDirect_Algemeen>
                    <files>
                        <default>GrafischDirect_Algemeen.csv</default>
                    </files>
                </GrafischDirect_Algemeen>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <gdalgemeen>
                                            <title>Extension update manager</title>
                                        </gdalgemeen>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <default>
        <gdalgemeen>
            <notification>
                <feed_url>grafischdirect.com/notifications/feed.xml</feed_url>
                <use_https>0</use_https>
                <frequency>24</frequency>
                <last_update>0</last_update>
            </notification>
        </gdalgemeen>
    </default>
</config>
