<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Imageoption>
            <version>0.2.3</version>
        </Magestore_Imageoption>
    </modules>
    <frontend>
        <routers>
            <imageoption>
                <use>standard</use>
                <args>
                    <module>Magestore_Imageoption</module>
                    <frontName>imageoption</frontName>
                </args>
            </imageoption>
        </routers>
        <layout>
            <updates>
                <imageoption>
                    <file>imageoption.xml</file>
                </imageoption>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<imageoption>
				<use>admin</use>
				<args>
					<module>Magestore_Imageoption</module>
					<frontName>imageoption</frontName>
				</args>
			</imageoption>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<catalog>            
				<children>
					<imageoptiontemplate translate="title" module="imageoption">
						<title>Imageoption Templates</title>
						<sort_order>0</sort_order>
						<action>imageoption/adminhtml_template</action>
					</imageoptiontemplate>
				</children>
			</catalog>
		</menu>	
		<layout>
			<updates>
				<imageoption>
					<file>imageoption.xml</file>
				</imageoption>
			</updates>
		</layout>
		
		<events>
			<catalog_product_collection_load_before>
				<observers>
		          <magestore_imageoption_observer>
		            <type>singleton</type>
		            <class>imageoption/observer</class>
		            <method>catalog_product_collection_load_before</method>
		          </magestore_imageoption_observer>
		       </observers>						
			</catalog_product_collection_load_before>
			
			<catalog_model_product_duplicate>
				<observers>
		          <magestore_imageoption_observer>
		            <type>singleton</type>
		            <class>imageoption/observer</class>
		            <method>catalogModelProductDuplicate</method>
		          </magestore_imageoption_observer>
		       </observers>			
			</catalog_model_product_duplicate>
			
			<catalog_product_edit_action>
				<observers>
		          <magestore_imageoption_observer>
		            <type>singleton</type>
		            <class>imageoption/observer</class>
		            <method>catalogProductEditAction</method>
		          </magestore_imageoption_observer>
		       </observers>					
			</catalog_product_edit_action>
			
			<catalog_product_prepare_save>
				<observers>
		          <magestore_imageoption_observer>
		            <type>singleton</type>
		            <class>imageoption/observer</class>
		            <method>catalogProductPrepareSave</method>
		          </magestore_imageoption_observer>
		       </observers>					
			</catalog_product_prepare_save>
			<sales_order_item_cancel>
				<observers>
		          <magestore_imageoption_observer>
		            <type>singleton</type>
		            <class>imageoption/observer</class>
		            <method>salesOrderItemCancel</method>
		          </magestore_imageoption_observer>
		       </observers>					
			</sales_order_item_cancel>
			
		</events>		
        <translate>
            <modules>
                <Magestore_Imageoption>
                    <files>
                        <default>Magestore_Imageoption.csv</default>
                    </files>
                </Magestore_Imageoption>
            </modules>
        </translate>		
    </adminhtml>   
    <global>
        <models>
            <imageoption>
                <class>Magestore_Imageoption_Model</class>
                <resourceModel>imageoption_mysql4</resourceModel>
            </imageoption>
            <imageoption_mysql4>
                <class>Magestore_Imageoption_Model_Mysql4</class>
                <entities>
                    <imageoption>
                        <table>imageoption</table>
                    </imageoption>
					<template>
						<table>imageoption_template</table>
					</template>
					<optiontemplate>
						<table>imageoption_template_option</table>
					</optiontemplate>
					<producttemplate>
						<table>imageoption_template_product</table>
					</producttemplate>	
					<optionsmap>
						<table>imageoption_template_product_optionsmap</table>
					</optionsmap>	
					<optiontypesmap>
						<table>imageoption_template_product_optiontypesmap</table>
					</optiontypesmap>		
					<product>
						<table>catalog_product_entity</table>
					</product>						
                </entities>
            </imageoption_mysql4>
			
			<catalog>
				<rewrite>
					<product_option>Magestore_Imageoption_Model_Product_Option</product_option>
					<product_option_value>Magestore_Imageoption_Model_Product_Option_Value</product_option_value>
				</rewrite>
			</catalog>
			
        </models>
		<events>
			<sales_order_place_after>
				<observers>
		          <magestore_imageoption_observer>
		            <type>singleton</type>
		            <class>imageoption/observer</class>
		            <method>salesOrderPlaceAfter</method>
		          </magestore_imageoption_observer>
		       </observers>	
			</sales_order_place_after>
		</events>
        <resources>
            <imageoption_setup>
                <setup>
                    <module>Magestore_Imageoption</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </imageoption_setup>
            <imageoption_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </imageoption_write>
            <imageoption_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </imageoption_read>
        </resources>

        <blocks>
            <imageoption>
                <class>Magestore_Imageoption_Block</class>
            </imageoption>
			
			<adminhtml>
				<rewrite>
					<catalog_product_edit_tab_options_type_select>Magestore_Imageoption_Block_Adminhtml_Type_Select</catalog_product_edit_tab_options_type_select>
					<catalog_product_edit_tab_options_option>Magestore_Imageoption_Block_Adminhtml_Option</catalog_product_edit_tab_options_option>	
					<catalog_product_edit_tab_options>Magestore_Imageoption_Block_Adminhtml_Options</catalog_product_edit_tab_options>	
				</rewrite>
			</adminhtml>
			<catalog>
				<rewrite>
					<product_view_options_type_select>Magestore_Imageoption_Block_Select</product_view_options_type_select>
				</rewrite>
			</catalog>
	   </blocks>
	
        <helpers>
            <imageoption>
                <class>Magestore_Imageoption_Helper</class>
            </imageoption>
        </helpers>	
    </global>
	<default>
		<imageoption>
			<general>
				<displaytype>1</displaytype>
			</general>
		</imageoption>
	</default>
	<!--websites>
	  <admin>
	   <dev>
		<debug>
		 <template_hints>1</template_hints>
		 <template_hints_blocks>1</template_hints_blocks>
		</debug>
	   </dev>
	  </admin>
	 </websites-->
</config>