<?xml version="1.0"?>
<config>
    <modules>
        <Artis_Permissions>
            <version>0.1.0</version>
        </Artis_Permissions>
    </modules>
    <stores>
        <admin>
            <!-- override default admin design package and theme -->
            <design>
                <package>
                    <name>default</name>
                </package>
                <theme>
                    <!-- this is the theme name -->
                    <default>artis</default>
                </theme>
            </design>
        </admin>
    </stores>
    <frontend>
        <routers>
            <permissions>
                <use>standard</use>
                <args>
                    <module>Artis_Permissions</module>
                    <frontName>permissions</frontName>
                </args>
            </permissions>
        </routers>
        <layout>
            <updates>
                <permissions>
                    <file>permissions.xml</file>
                </permissions>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<permissions>
				<use>admin</use>
				<args>
					<module>Artis_Permissions</module>
					<frontName>permissions</frontName>
				</args>
			</permissions>
			<adminhtml>
			    <args>
				<modules>
				    <Artis_Permissions before="Mage_Adminhtml">Artis_Permissions_Adminhtml</Artis_Permissions>
				</modules>
			    </args>
			</adminhtml>
        </routers>
    </admin>
    <adminhtml>
		<!--<menu>
			<permissions module="permissions">
				<title>Permissions</title>
				<sort_order>71</sort_order>
				<action>permissions/adminhtml_permissions</action>
				<children>
					<items module="permissions">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>permissions/adminhtml_permissions</action>
					</items>
				</children>
			</permissions>
		</menu>-->
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Artis_Permissions>
							<title>Permissions Module</title>
							<sort_order>10</sort_order>
						</Artis_Permissions>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<permissions>
					<file>permissions.xml</file>
				</permissions>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <permissions>
                <class>Artis_Permissions_Model</class>
                <resourceModel>permissions_mysql4</resourceModel>
            </permissions>
            <permissions_mysql4>
                <class>Artis_Permissions_Model_Mysql4</class>
                <entities>
                    <permissions>
                        <table>permissions</table>
                    </permissions>
                </entities>
            </permissions_mysql4>
        </models>
	    <permissions>
		<model_save_before>
			<observers>
				<permissions_before_save>
					<type>singleton</type>
					<class>permissions/observer</class>
					<method>onBeforeSave</method>
				</permissions_before_save>
			</observers>
		</model_save_before>
		<model_save_after>
			<observers>
				<permissions_after_save>
					<type>singleton</type>
					<class>permissions/observer</class>
					<method>onAfterSave</method>
				</permissions_after_save>
			</observers>
		</model_save_after>
		<on_create>
			<observers>
				<permissions_on_create>
					<type>singleton</type>
					<class>permissions/observer</class>
					<method>onCreate</method>
				</permissions_on_create>
			</observers>
		</on_create>
		<on_update>
			<observers>
				<permissions_on_update>
					<type>singleton</type>
					<class>permissions/observer</class>
					<method>onUpdate</method>
				</permissions_on_update>
			</observers>
		</on_update>			
	    </permissions>
        <resources>
            <permissions_setup>
                <setup>
                    <module>Artis_Permissions</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </permissions_setup>
            <permissions_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </permissions_write>
            <permissions_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </permissions_read>
        </resources>
        <blocks>
            <permissions>
                <class>Artis_Permissions_Block</class>
            </permissions>
        </blocks>
        <helpers>
            <permissions>
                <class>Artis_Permissions_Helper</class>
            </permissions>
        </helpers>
    </global>
</config>