/********************** Tabs */
/*.product-view .tabs { margin: 15px 0px; overflow:hidden; border-bottom:1px solid #496778;  zoom: 1;}
.product-view .tabs li                { float:left; border-right:1px solid #ffffff; border-left:1px solid #fff; font-size:0.9em; line-height:1em;  background: #f2f2f2; }
.product-view .tabs li.first          { border-left:0; }
.product-view .tabs li.last           { border-right:0; }
.product-view .tabs a                 { display:block; padding:6px 10px; color:#444; text-decoration: none;}
.product-view .tabs a:hover           { background-color:#ddd; text-decoration:none; color:#444; ; text-decoration: none;}
.product-view .tabs li.active a,
.product-view .tabs li.active a:hover { background:#496778;  font-weight:bold; color:#fff; }
*/
#product_tabs_tags_tabbed_contents.input-box input	{ width: 300px; }
#product_tabs_tags_tabbed_contents .input-box	{ width: 300px; float:left; margin-right: 10px;}
#product_tabs_related_tabbed_contents li	{ float:left; margin-right: 10px;}
#product_tabs_related_tabbed_contents ol	{ clear: both;}
.product-collateral:after { content:"."; display:block; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; zoom: 1}

#accordion-1111{margin: 31px 0 0; background: url(../images/haccordion_div_bg.png) no-repeat left bottom;}
#accordion li.active .accro_heading{background: url(../images/title1.png) no-repeat;}
#accordion {list-style: none;margin: 0;padding: 0;height: 260px;overflow: hidden;}
	 
	#accordion li {float: left;display: block;height: 253px;width: 35px;padding: 0;overflow: hidden;color: #fff;text-decoration: none;font-size: 16px;line-height: 1.5em;border-left: 1px solid #fff;position: relative;}
	 
.accro_heading {border: none;border-right: 0px solid white;float: left;	background: url(../images/active_title1.png) no-repeat;	height: 235px;	width: 35px;
margin-right: 0;position: absolute;left: 0;top: 0;cursor: pointer;}
        #accordion li .accro_heading span{/* Safari */ -webkit-transform: rotate(-90deg);/* Firefox */-moz-transform: rotate(-90deg);/* IE */-ms-transform: rotate(-90deg);/* Opera */-o-transform: rotate(-90deg);/* Internet Explorer *//*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/ display: block; left: -91px;position: absolute; color:#444; white-space: nowrap; top: 105px; width: 211px; text-align: right;}
 #accordion li.active .accro_heading span{color:#fff;}	 
#accordion li.active {width:450px;}
	
.accro_content{width: 372px; margin: 0 0px 0 31px; float: left; font-size: 13px; line-height: 15px; font-weight: normal; text-align: justify; background:url(../images/haccordion_item_bg.png) no-repeat right top;color: #444;padding: 12px 23px;min-height: 220px;}
#accordion li.active .accro_content{}
	
.acc_num{ display: block; clear: both; color: #444; position: absolute; z-index: 100; bottom: 0; left: 10px; font:italic 12px 'liberation_sansregular'}