<?xml version="1.0"?>
<config>
    <modules>
        <Ordercalculator_Calculator>
            <version>0.1.0</version>
        </Ordercalculator_Calculator>
    </modules>
    <frontend>
        <routers>
            <calculator>
                <use>standard</use>
                <args>
                    <module>Ordercalculator_Calculator</module>
                    <frontName>calculator</frontName>
                </args>
            </calculator>
        </routers>
        <layout>
            <updates>
                <calculator>
                    <file>calculator.xml</file>
                </calculator>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<calculator>
				<use>admin</use>
				<args>
					<module>Ordercalculator_Calculator</module>
					<frontName>calculator</frontName>
				</args>
			</calculator>
        </routers>
    </admin>
    <adminhtml>
<!--		<menu>
			<calculator module="calculator">
				<title>Calculator</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="calculator">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>calculator/adminhtml_calculator</action>
					</items>
				</children>
			</calculator>
		</menu>
-->		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Ordercalculator_Calculator>
							<title>Calculator Module</title>
							<sort_order>10</sort_order>
						</Ordercalculator_Calculator>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<calculator>
					<file>calculator.xml</file>
				</calculator>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <calculator>
                <class>Ordercalculator_Calculator_Model</class>
                <resourceModel>calculator_mysql4</resourceModel>
            </calculator>
            <calculator_mysql4>
                <class>Ordercalculator_Calculator_Model_Mysql4</class>
                <entities>
                    <calculator>
                        <table>calculator</table>
                    </calculator>
                </entities>
            </calculator_mysql4>
        </models>
        <resources>
            <calculator_setup>
                <setup>
                    <module>Ordercalculator_Calculator</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </calculator_setup>
            <calculator_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </calculator_write>
            <calculator_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </calculator_read>
        </resources>
        <blocks>
            <calculator>
                <class>Ordercalculator_Calculator_Block</class>
            </calculator>
        </blocks>
        <helpers>
            <calculator>
                <class>Ordercalculator_Calculator_Helper</class>
            </calculator>
        </helpers>
    </global>
</config>