<?xml version="1.0"?>
<config>
    <modules>
        <AsiaConnect_Gallery>
            <version>4.4.6</version>
        </AsiaConnect_Gallery>
    </modules>
    <frontend>
        <routers>
            <gallery>
                <use>standard</use>
                <args>
                    <module>AsiaConnect_Gallery</module>
                    <frontName>gallery</frontName>
                </args>
            </gallery>
        </routers>		
        <layout>
            <updates>
                <gallery>
                    <file>gallery.xml</file>
                </gallery>
            </updates>
        </layout>
        <translate>
			<modules>
				<AsiaCollect_Gallery>
					<files>
						<default>AsiaCollect_Gallery.csv</default>
					</files>
				</AsiaCollect_Gallery>
			</modules>
		</translate>
    </frontend>
    <admin>
        <routers>
			<gallery_admin>
				<use>admin</use>
				<args>
					<module>AsiaConnect_Gallery</module>
					<frontName>gallery_admin</frontName>
				</args>
			</gallery_admin>
        </routers>
    </admin>
    <adminhtml>		
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
                            <children>
                                <config>
                                    <children>
                                        <gallery translate="title" module="gallery">
                                            <title>Gallery Pro</title>
                                        </gallery>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<gallery>
					<file>gallery.xml</file>
				</gallery>
			</updates>
		</layout>
        <translate>
			<modules>
				<AsiaCollect_Gallery>
					<files>
						<default>AsiaCollect_Gallery.csv</default>
					</files>
				</AsiaCollect_Gallery>
			</modules>
		</translate>
    </adminhtml>   
    <global>
        <models>
            <gallery>
                <class>AsiaConnect_Gallery_Model</class>
                <resourceModel>gallery_mysql4</resourceModel>
            </gallery>
            <gallery_mysql4>
                <class>AsiaConnect_Gallery_Model_Mysql4</class>
                <entities>
                    <gallery>
                        <table>gallery</table>
                    </gallery>
                    <album>
                        <table>gallery_album</table>
                    </album>
                    <gallery_store>
                    	<table>gallery_store</table>
                    </gallery_store>
                    <review>
                    	<table>gallery_review</table>
                    </review>
                    <core_url_rewrite>
                    	<table>core_url_rewrite</table>
                    </core_url_rewrite>
                </entities>
            </gallery_mysql4>
		</models>
        <resources>
            <gallery_setup>
                <setup>
                    <module>AsiaConnect_Gallery</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </gallery_setup>
            <gallery_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </gallery_write>
            <gallery_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </gallery_read>
        </resources>
        <blocks>
            <gallery>
                <class>AsiaConnect_Gallery_Block</class>
            </gallery>
        </blocks>
        <helpers>
            <gallery>
                <class>AsiaConnect_Gallery_Helper</class>
            </gallery>
        </helpers>
        <events>
	        <controller_front_init_before>
	            	<observers>
	                    <gallery>
	                        <type>singleton</type>
	                        <class>gallery/observer</class>
	                        <method>checkLicense</method>
	                    </gallery>
	                </observers>
			</controller_front_init_before>            
    	</events> 
    </global>
	<default>
		<gallery>
			<info>
				<enabled>1</enabled>
				<menu_enabled>1</menu_enabled>
				<review_enabled>1</review_enabled>
				<upload_photos>1</upload_photos>
				<customer_upload_require>1</customer_upload_require>
				<thumbnail_size>200-170</thumbnail_size>
				<photo_per_page_allowed>12</photo_per_page_allowed>
				<album_suffix>.html</album_suffix>
				<photo_suffix>.html</photo_suffix>
				<photo_background_color>237,237,237</photo_background_color>
				<simple_photo_background_color>255,255,255</simple_photo_background_color>
				<clear_cache>Clear cache</clear_cache>
				<album_thumbnail_size>125-125</album_thumbnail_size>
				<backend_thumbnail_size>50-50</backend_thumbnail_size>
				<photo_per_page_allowed>8,12,16,24</photo_per_page_allowed>
				<photo_per_page_default_value>12</photo_per_page_default_value>
				<show_album_update_date>1</show_album_update_date>
				<show_total_photos_of_album>1</show_total_photos_of_album>
				<enabledsearch>1</enabledsearch>
			</info>
			<default_config>
				<photo_thumbnail_size>135-135</photo_thumbnail_size>
				<simple_photo_thumbnail_size>135-135</simple_photo_thumbnail_size>
				<slide_show_size>800-600</slide_show_size>
				<slide_show_delay>2000</slide_show_delay>
				<slide_show_photos>0</slide_show_photos>
				<show_photo_title>1</show_photo_title>
				<show_photo_description>1</show_photo_description>
				<show_photo_link>1</show_photo_link>
				<show_photo_update_date>1</show_photo_update_date>
			</default_config>
		</gallery>
		
	</default>
</config>