<?xml version="1.0"?>
<config>
    <modules>
        <Artis_Vendorload>
            <version>0.1.0</version>
        </Artis_Vendorload>
    </modules>
    <admin>
        <routers>
			<vendorload>
				<use>admin</use>
				<args>
					<module>Artis_Vendorload</module>
					<frontName>vendorload</frontName>
				</args>
			</vendorload>
        </routers>
    </admin>
    <adminhtml>
    <layout>
			<updates>
				<vendorload>
					<file>vendorload.xml</file>
				</vendorload>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <vendorload>
                <class>Artis_Vendorload_Model</class>
                <resourceModel>vendorload_mysql4</resourceModel>
            </vendorload>
            <vendorload_mysql4>
                <class>Artis_Vendorload_Model_Mysql4</class>
                <entities>
                    <vendorload>
                        <table>vendorload</table>
                    </vendorload>
                </entities>
            </vendorload_mysql4>
        </models>
        <resources>
            <vendorload_setup>
                <setup>
                    <module>Artis_Vendorload</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vendorload_setup>
            <vendorload_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vendorload_write>
            <vendorload_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vendorload_read>
        </resources>
        <blocks>
            <adminhtml>
                <rewrite>
                </rewrite>
            </adminhtml>
            <vendorload>
                <class>Artis_Vendorload_Block</class>
            </vendorload>
        </blocks>
        <helpers>
            <vendorload>
                <class>Artis_Vendorload_Helper</class>
            </vendorload>
        </helpers>
    </global>
</config>
