<?xml version="1.0"?>
<config>
    <modules>
        <Vividads_Adminsearch>
            <version>0.1.0</version>
        </Vividads_Adminsearch>
    </modules>
    <frontend>
        <routers>
            <adminsearch>
                <use>standard</use>
                <args>
                    <module>Vividads_Adminsearch</module>
                    <frontName>adminsearch</frontName>
                </args>
            </adminsearch>
        </routers>
        <layout>
            <updates>
                <adminsearch>
                    <file>adminsearch.xml</file>
                </adminsearch>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<adminsearch>
				<use>admin</use>
				<args>
					<module>Vividads_Adminsearch</module>
					<frontName>adminsearch</frontName>
				</args>
			</adminsearch>
        </routers>
    </admin>
    <adminhtml>
<!--		<menu>
			<adminsearch module="adminsearch">
				<title>Adminsearch</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="adminsearch">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>adminsearch/adminhtml_adminsearch</action>
					</items>
				</children>
			</adminsearch>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Vividads_Adminsearch>
							<title>Adminsearch Module</title>
							<sort_order>10</sort_order>
						</Vividads_Adminsearch>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<adminsearch>
					<file>adminsearch.xml</file>
				</adminsearch>
			</updates>
		</layout>
-->
    </adminhtml>   
    <global>
        <models>
            <adminsearch>
                <class>Vividads_Adminsearch_Model</class>
                <resourceModel>adminsearch_mysql4</resourceModel>
            </adminsearch>
            <adminsearch_mysql4>
                <class>Vividads_Adminsearch_Model_Mysql4</class>
                <entities>
                    <adminsearch>
                        <table>adminsearch</table>
                    </adminsearch>
                </entities>
            </adminsearch_mysql4>
        </models>
        <resources>
            <adminsearch_setup>
                <setup>
                    <module>Vividads_Adminsearch</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </adminsearch_setup>
            <adminsearch_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </adminsearch_write>
            <adminsearch_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </adminsearch_read>
        </resources>
        <blocks>
            <adminsearch>
                <class>Vividads_Adminsearch_Block</class>
            </adminsearch>
        </blocks>
        <helpers>
            <adminsearch>
                <class>Vividads_Adminsearch_Helper</class>
            </adminsearch>
        </helpers>
    </global>
</config>
