<?xml version="1.0"?>
<config>
    <modules>
        <Mconnect_Brandlogo>
            <version>0.1.1</version>
        </Mconnect_Brandlogo>
    </modules>
    <frontend>
        <routers>
            <brandlogo>
                <use>standard</use>
                <args>
                    <module>Mconnect_Brandlogo</module>
                    <frontName>brandlogo</frontName>
                </args>
            </brandlogo>
        </routers>
        <layout>
            <updates>
                <brandlogo>
                    <file>brandlogo.xml</file>
                </brandlogo>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <brandlogo>
                <use>admin</use>
                <args>
                    <module>Mconnect_Brandlogo</module>
                    <frontName>brandlogo</frontName>
                </args>
            </brandlogo>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <brandlogo module="brandlogo">
                <title>Brand Logo</title>
                <sort_order>71</sort_order>               
                <children>
                    <items module="brandlogo">
                        <title>Manage Brands</title>
                        <sort_order>0</sort_order>
                        <action>brandlogo/adminhtml_brandlogo</action>
                    </items>
                </children>
            </brandlogo>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Mconnect_Brandlogo>
                            <title>Brandlogo Module</title>
                            <sort_order>10</sort_order>
                        </Mconnect_Brandlogo>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <brandlogo translate="title" module="brandlogo">
                                            <title>Mconnect Brand Logo</title>
                                        </brandlogo>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <brandlogo>
                    <file>brandlogo.xml</file>
                </brandlogo>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <brandlogo>
                <class>Mconnect_Brandlogo_Model</class>
                <resourceModel>brandlogo_mysql4</resourceModel>
            </brandlogo>
            <brandlogo_mysql4>
                <class>Mconnect_Brandlogo_Model_Mysql4</class>
                <entities>
                    <brandlogo>
                        <table>brandlogo</table>
                    </brandlogo>
                    <brandlogo_store>
                        <table>brandlogo_store</table>
                    </brandlogo_store>
                </entities>
            </brandlogo_mysql4>
        </models>
        <resources>
            <brandlogo_setup>
                <setup>
                    <module>Mconnect_Brandlogo</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </brandlogo_setup>
            <brandlogo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </brandlogo_write>
            <brandlogo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </brandlogo_read>
        </resources>
        <blocks>
            <brandlogo>
                <class>Mconnect_Brandlogo_Block</class>
            </brandlogo>
        </blocks>
        <helpers>
            <brandlogo>
                <class>Mconnect_Brandlogo_Helper</class>
            </brandlogo>
        </helpers>
    </global>
    <default>
        <brandlogo>
            <general>               
                <logotitle>Brands</logotitle>        
            </general>       
        </brandlogo>
    </default>
</config>