.sales-order-view .designermain .adddiv{ width: 100px; border: 1px solid #444; float: right; margin-bottom: 15px; text-align: center; padding: 3px 0; color: #fff; background: #5D5D5D; cursor:pointer;}

.sales-order-view .designermain .closediv{ width: 100px; border: 1px solid #444; float: right; margin-bottom: 15px; text-align: center; padding: 3px 0; color: #fff; background: #5D5D5D; cursor:pointer;}

.sales-order-view .fromclass{width: 692px; overflow:hidden; display: block;}
.sales-order-view .fromclass .file_class{height:30px; overflow:hidden}

.sales-order-view .submitclass{margin-left:0px;}
.sales-order-view .submitclass .submit-img{padding:5px 4px; background:#9cbd18; float:right; border:0px; outline:0px; color:#fff; font-size:15px; margin-top:0px; cursor:pointer; width:100px;}

.total_proof .item_class{height:30px; font-family: 'gotham_mediumregular'; display:block;}
.total_proof .item_class select{ font-family: arial; display:block;}
.total_proof .item_comment textarea{height:60px; min-width:398px; max-width:398px; resize: none; font-family: arial;}
.total_proof .file_class{height:30px;}

.sales-order-view .total_proof #content1{overflow:hidden;}
.sales-order-view .total_proof .item_comment{width: 666px; float:left;}
.total_proof .removeitem{width: 100px; border: 1px solid #444; float: right; margin-top: 40px; text-align: center; padding: 3px 0; color: #fff; background: #5D5D5D; cursor:pointer;
margin-right:195px; display:block;}



#sales_order_view_tabs_my_custom_tab2_content {position:relative;}

.main .tooltip{position:fixed; width: 712px; border:1px solid #ccc; background:#fff; top:40px; left:50%; margin-left: -340px; height: 586px; box-shadow:0 0 10px #000000; z-index: 99999;}
.tooltip .close{float: right; margin-right: 20px; margin-top: 10px; font-size: 15px; cursor:pointer;}
.tooltip .close{float: right; margin-right: 20px; margin-top: 10px; font-size: 15px; cursor:pointer;}

.tooltip .allcomment{width: 669px; overflow-y:scroll; margin: 20px; height: 275px; border: 1px solid #dfdfdf; background:#fafafa; padding:0px;}

.tooltip .allcomment .comtotal:nth-child(odd){background:#f2f2f2; line-height: 22px; padding:5px 0 5px 5px;overflow: hidden;}
.tooltip .allcomment .comtotal:nth-child(even){background:#fff; line-height: 22px; padding:5px 0 5px 5px; overflow: hidden;}


.tooltip #dvFile{width: 670px; overflow:hidden; margin: 5px 20px;/* border: 1px solid; */}
.tooltip #dvFile .file_class{width:100%; overflow:hidden; margin-bottom:6px;}
.tooltip #dvFile .item_comment textarea{height:60px; max-width: 662px; min-width: 662px; resize: none;}
.tooltip .fromtool td.clssubmit{text-align: center; display:block;line-height: 25px;}

.tooltip .submit{ text-align: center; padding: 3px 0; color: #fff; background: #5D5D5D; border: 1px solid #444;  padding:5px 10px; cursor:pointer; margin-top:8px;}

.sales-order-view .shoedetails{cursor:pointer;}

.sales-order-view .addanother{ width: 100px; border: 1px solid #444; float: left; margin-bottom: 15px; text-align: center; padding: 3px 0; color: #fff; background: #5D5D5D; cursor:pointer;}

/************************** 19_09_2013 ***********************************/
.quotation-quote-view .designermain .adddiv{ width: 100px; border: 1px solid #444; float: right; margin-bottom: 15px; text-align: center; padding: 3px 0; color: #fff; background: #5D5D5D; cursor:pointer;}

.quotation-quote-view .designermain .closediv{ width: 100px; border: 1px solid #444; float: right; margin-bottom: 15px; text-align: center; padding: 3px 0; color: #fff; background: #5D5D5D; cursor:pointer;}
                                
.quotation-quote-view .fromclass{width: 612px; overflow:hidden; display: block; }
.quotation-quote-view .fromclass .file_class{height:30px; overflow:hidden}

.quotation-quote-view .submitclass{margin-left:0px;}
.quotation-quote-view .submitclass .submit-img{padding:5px 3px; background:#9cbd18; float:right; border:0px; outline:0px; color:#fff; font-size:15px; margin-top:0px; cursor:pointer; width:100%; height:28px;}

.total_proof .item_class{height:30px; font-family: 'gotham_mediumregular'; display:block;}
.total_proof .item_class select{ font-family: arial; display:block;}
.total_proof .item_comment textarea{height:60px; min-width:398px; max-width:398px; resize: none; font-family: arial;}
.total_proof .file_class{height:30px;}

.quotation-quote-view .total_proof #content1{overflow:hidden;}
.quotation-quote-view .total_proof .item_comment{width:406px; float:left;}
.total_proof .removeitem{width: 100px; border: 1px solid #444; float: right; margin-top: 40px; text-align: center; padding: 3px 0; color: #fff; background: #5D5D5D; cursor:pointer;
margin-right:195px; display:block;}

.quotation-quote-view .shoedetails{cursor:pointer;}

.quotation-quote-view .addanother{ width: 100px; border: 1px solid #444; float: left; margin-bottom: 15px; text-align: center; padding: 3px 0; color: #fff; background: #5D5D5D; cursor:pointer; height:20px;}
.quotation-quote-view .total_proof #content1 .tabdesign{overflow:hidden; clear:both;}
.sales-order-view .total_proof #content1 .tabdesign{overflow:hidden; clear:both;}


#dvFile .file_class select{font-family:arial;}
.commenttag{width: 217px; float:left; overflow: hidden; margin-left:4px;}
.scomment{width: 492px; float:left; overflow: hidden; margin-right:4px;}

.quotation-quote-view .tooltip .fromclass{width: 695px; overflow:hidden; display: block; }

#tooltip .tooltipcom{margin-top:20px;}

.allcomment .dateidenty{ width:100%; overflow:hidden; float:left;}
.allcomment .imageidenty{ width:150px; overflow:hidden; float:left;}
.allcomment .scomment{float:left;}

.sales-order-view .designermain .fromclass{display: block; overflow: hidden;  width: 612px; float:left;}
.sales-order-view .designermain .addnew{float: right;  font-weight: normal; text-align: left; vertical-align: top; width: 100px;}
.quotation-quote-view .total_proof{width:100%; overflow:hidden; margin-top:40px;}

.sales-order-view .txt{width:100%; overflow:hidden; margin-top:42px; display:block;}

/*************************** 11_12_2013 for quotation details page *************************************/

.quote_part{margin-top:10px;margin-bottom:10px;text-align:justify;}
    .quote_part ul{margin-left:30px;list-style-type:square;}
    
    
.total_payment{position: fixed;top: 8%;left: 30%;background-color: white;width: 521px;height: 300px;}
    .close_div{position: fixed;top: 24%;left: 66%;background-color: white;width: 21px;height: 30px;}
    .block_div{text-align: left;margin-top: 16px;}
    .overlay_proof{position: fixed;width: 100%;height: 100%;background-color: black;top: 0px;left: 0px;opacity: 0.5;z-index: 99999;}
    
    .calendar{position: fixed !important;  left: 668px !important; top: 168px !important;}
    
    .total_payment{border:1px solid #ccc; box-shadow:0px 0px 6px 0px #333;width: 361px !important;height: auto !important;padding: 20px;left:50% !important;margin-left: -130px;z-index: 100000;}
    .total_payment .offline_payment table{width:100%;}
    .total_payment .offline_payment table td{text-align:left;padding: 2px 5px;}
    .total_payment .offline_payment table td.lebelall{text-align:right;}
    .total_payment .offline_payment table td input[type="text"]{width:100px;}
    .close_div{left: 360px !important;position: absolute !important;top: 7px !important;cursor: pointer;width: 33px;height: 32px}
    .openpay{float:right; color:#fff; text-decoration:underline; cursor:pointer;}
    
    .order-tables thead th{font-weight:bold; padding:3px 20px 3px 10px;}
    .order-tables thead th, .order-tables tbody td{text-align:left;}
    
    
    .total_payment .block_div table{width:100%;}
    .total_payment .block_div table tr td{padding:5px;}
    .total_payment .block_div table select, .total_payment .block_div table textarea{width:200px;}
.entry-edit-front .entry-edit-head h4{ background:#cbcbcb; padding: 3px 8px;  font-size: 13px; color: #676667;}
.entry-edit-front .fieldset td.lebelall{border:none;font-size:12px;}
.entry-edit-front .fieldset input{ border-top:2px solid #727272; border-left:2px solid #727272; }
#edit_form table td{border-right:0;}
#order-billing_method_form dl dt label{font-size:12px; color:#2F2F2F;}
#order-billing_method_form dd .form-list label.required{text-align:left;padding-bottom:3px; color:#2F2F2F; font-size:12px; text-indent:10px;font-weight:normal;}
#order-billing_method_form dd .input-box select.required-entry.validate-cc-type-select{width:131px;}
#order-billing_method_form dd .input-box .v-fix input{width:60px; padding:3px 0px;}
.inputccv .input-box{ clear:both;}

