<?xml version="1.0"?>
<config>
    <modules>
        <Fishpig1_CustomTabs1>
            <version>0.1.0</version>
        </Fishpig1_CustomTabs1>
    </modules>
    <global>
        <blocks>
            <customtabs1>
                <class>Fishpig1_Customtabs1_Block</class>
            </customtabs1>
        </blocks>
        <models>
            <customtabs1>
                <class>Fishpig1_Customtabs1_Model</class>
            </customtabs1>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <customtabs1>
                    <file>customtabs1.xml</file>
                </customtabs1>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <fishpig1_save_product_data>
                        <type>singleton</type>
                        <class>customtabs1/observer</class>
                        <method>saveProductTabData</method>
                    </fishpig1_save_product_data>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
</config>